<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttachmentSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AttachmentSaver.Properties.Settings>
            <setting name="autoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastRun" serializeAs="String">
                <value />
            </setting>
            <setting name="opslagprofielen" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="lastSuccessful" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastFailed" serializeAs="String">
                <value>0</value>
            </setting>
        </AttachmentSaver.Properties.Settings>
    </userSettings>
</configuration>